<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffee_n_go">

    <application
        android:allowBackup="true"
        android:icon="@drawable/coffeelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/coffeelogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomerOptions"></activity>
        <activity android:name=".WorkerActivity" />
        <activity android:name=".DeleteProduct" />
        <activity android:name=".UpdateProductDetails" />
        <activity android:name=".InsertNewProdActivity" />
        <activity android:name=".CeoActivity" />
        <activity android:name=".CustomerActivity" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pop" />
    </application>

</manifest>